@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@section Scripts
{
   <script src="~/Scripts/lib/knockout/knockout-2.2.1.js"></script>
   <script src="~/Scripts/lib/knockout/koExternalTemplateEngine_all.js"></script>
}
